

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*body {position: relative;}*/

html
{
	position: relative;
	min-height: 100%;
}

body
{
	margin-bottom: 60px;
	font-size: 1.6em;

	background-color: #fff;
}

* { text-shadow: none !important; }
a:hover { text-decoration: none;}


a, .projet-item, .frise-item,#apropos
{

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.container-fluid {
    padding: 0px;
}

@media (max-width: 797px) {
    body { 
		padding-left: 0px;
		padding-right: 0px;
	}
}

.topbar
{
	min-height: 40px;
}


.greybar
{
	/*background: #f5f5f5;*/
	/*width: 100%;*/
	background: -webkit-linear-gradient( #eee,#fff);
	background:    -moz-linear-gradient( #eee,#fff);
	background:     -ms-linear-gradient( #eee,#fff);
	background:      -o-linear-gradient( #eee,#fff);
	background:         linear-gradient( #eee,#fff);
}

.topbar h2
{
	margin: 0 ;
	padding: 20px 30px;
	font-family: "Segoe UI";
}

.topbar .profession
{
	color: #5BA5AF;
}

#header
{
	background-color: #fff;
}

#navbar
{
	margin-top: 40px;
	margin-bottom: 0;

	background-color: #5ba5af;
	border-radius: 0px;
	font-weight: 700;

	border-width: 0;
	background-image: none;
	box-shadow: none;
}

#navbar.affix {
	position: fixed;
	top: 0;
	margin: 0;
	width: 100%;
	z-index: 8;
}


/*

peut pas utiliser ca car je dois ajouter un parent à navbar
#navbar.affix + .section
{
	margin-top: 98px; 
	transition:none;
}*/




#navbar .navbar-header
{
	margin-right: 0;
}

.navbar .navbar-toggle .icon-bar {
	background-color: #eee;
}
.navbar .navbar-toggle  {
	border-color: #ddd;
	border-radius: 0;
}

#navbar .nav-main
{
	width: 100%;
	border: none;
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}

.nav-main .nav 
{
	background-color: #5ba5af;
	margin: 0;
	text-align: center;

}

.nav-main li
{
	text-transform: uppercase;
}

.nav-main li a
{
	color: #fff;
	background-image: none;
	box-shadow: none;
}

.navbar-default .nav>li>a:hover,.navbar-default  .nav>li>a:focus,.navbar-default  .nav>li.active>a
{
	color: #393939;
	background-image: none;
	background-color: #fff;
	box-shadow: none;
}


@media (min-width: 768px) {
	.navbar .navbar-nav  {
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-nav li {
		display: inline-block;
		float: none;
	}



}

/*Navbar collapsed*/
@media (max-width: 768px){
	.navbar-default .nav>li>a:hover,.navbar-default  .nav>li>a:focus,.navbar-default  .nav>li.active>a
	{
		background-color: #ddd;
	}


}


/*//////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////*/
.section
{
	padding:40px;
	min-height: 600px;
}

.section p.text-justify
{
	margin-top: 20px; 
}
.section .section-titre
{
	margin-bottom: 40px;
}

#apropos
{
	background-color: #fff;
}

#parcours, #competences
{
	background-color: #eee;/*#8bc8d0;*/
}


.frise
{
	margin-top: 50px;
}


.frise-item, .comp-item, .projet-item
{
	position: relative;
	border-radius: 50%;
	width: 180px;
	height: 180px;
	/*line-height: 11em;*/
	text-align: center;

	font-weight: 700;
	background-color: #f5f5f5;
	color: #5ba5af;
	z-index: 1;

}

.frise-item-content, .projet-item-content
{
	text-align: center;
	position: relative;
	top: 40%;
}

.frise-item-lieu
{
	font-family: "Segoe UI";
	color: #eee;
	display: block;
	color: #4e4d4d;
}

#competences
{
	border-top: 5px dashed #5ba5af;
}

.comp-item, .projet-item
{
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.comp-item-content
{
	position: relative;
	top: 45%;
	/*background: transparent url(../img/java_g.png);*/
}

#projets
{
	background-color: #5ba5af;
}


.projet-item
{
	-webkit-transition:.2s ease-in-out;
    transition:.2s ease-in-out;

	border: 8px dotted rgba(91, 165, 175, 1);
}


.projet-item-content.item-meta
{
	top:25%;
}





@media screen and (min-width: 768px){
	.frise:after{
		content: "";
		display: block;
		width: 100%;
		background: transparent url(../img/tiret.gif) repeat-x top left;
		height: 1px;
		position: absolute;
		top:11.5em;
		z-index: 0;

	}

	.projet-item:hover{
		border-width:0px;
	}

	.mail-col {
		display: none;
	}

}

@media (max-width: 768px){
	
	/*Vraiment falloir que je passe ce code en sass*/
	.frise-item
	{
		border:1px solid;
		position: relative;
		margin: auto;
	}

	.col-frise:nth-child(1) .frise-item
	{
		z-index: 1;
		top: 21em;
	}
	.col-frise:nth-child(2) .frise-item
	{
		z-index: 2;
		top:3em;

	}
	.col-frise:nth-child(3) .frise-item
	{
		z-index: 3;
		top:-16em;

	}
	.col-frise:nth-child(4) .frise-item
	{
		z-index: 4;
		top:-34em;

	}

	#parcours p.text-parcours
	{
		margin-top: -10em;
	}

	.comp-item, .projet-item
	{
		height: auto;
		margin: auto;
	}

}

#seperator {
	height: 350px;
	display: block;
	float: left;
}

#contact
{
	min-height: 350px;
	background-color: #000;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -5;
	width: 100%;
}

#contact .contact-item
{
	width: 200px;
	height: 200px;
	background: url("../img/mail-white.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-origin: border-box;
	
	border:100px dashed rgba(0, 0, 0, 0.7);

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

#contact .contact-item:hover
{
	border: 1px dashed rgba(0,0,0,7);
}

.mail-col
{
	position: absolute;
	color: #fff;
}

.contact-item,.mail-item
{
	margin: auto;
}


footer .credit
{
	position: relative;
	bottom: -100px;
	/*right: 15px;*/
	color: #959595;
	margin:0;
}