

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*body {position: relative;}*/

html
{
	position: relative;
	min-height: 100%;
}

body
{
	margin-bottom: 60px;
	font-size: 1.6em;
	background-color: #fff;
}

* { text-shadow: none !important;box-shadow: none !important;}

a,a:hover { text-decoration: none;}

p
{
	font-family: "Open Sans","Helvetica Neue",Verdana,Arial,sans-serif;;
	font-size: 1.1em;
}

a, .projet-item, .frise-item,#apropos,#cv,#contact-link
{

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.container-fluid {
    padding: 0px;
}

.topbar
{
	min-height: 40px;
}


.greybar
{

	background: -webkit-linear-gradient( #eee,#fff);
	background:    -moz-linear-gradient( #eee,#fff);
	background:     -ms-linear-gradient( #eee,#fff);
	background:      -o-linear-gradient( #eee,#fff);
	background:         linear-gradient( #eee,#fff);
}

.topbar h2
{
	margin: 0 ;
	padding: 20px 30px;
	font-family: "Segoe UI",Verdana;
}

.topbar .profession
{
	color: #5BA5AF;
}

.upper
{
	text-transform: uppercase;
}


#header
{
	background-color: #fff;
}

.wrapper
{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}


/* media queries header */
@media (min-width: 768px) {
	.wrapper{
		width: 750px
	}
}

@media (min-width: 1200px) {
	.wrapper{
		width: 1170px
	}
}

/***************** NAVBAR  
******************/

#navbar
{
	margin-top: 40px;
	margin-bottom: 0;

	background-color: #5ba5af;
	border-radius: 0px;
	font-weight: bold;

	border-width: 0;
	background-image: none;
	box-shadow: none;
}

#navbar.affix {
	position: fixed;
	top: 0;
	margin: 0;
	width: 100%;
	z-index: 8;
}


#navbar .navbar-header
{
	margin-right: 0;
}

.navbar .navbar-toggle .icon-bar {
	background-color: #eee;
}
.navbar .navbar-toggle  {
	border-color: #ddd;
	border-radius: 0;
}

.navbar .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
	background-color: transparent;
}
.navbar .navbar-toggle:active
{
	background-color: #ddd;
}

#navbar .nav-main
{
	width: 100%;
	border: none;
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}

.nav-main .nav 
{
	background-color: #5ba5af;
	margin: 0;
	text-align: center;

}

.nav-main li
{
	text-transform: uppercase;
}

#navbar .nav-main li>a
{
	color: #227580;

	background-image: none;
	box-shadow: none;
}

.navbar-default .nav>li>a:hover,.navbar-default  .nav>li>a:focus,.navbar-default  .nav>li.active>a
{
	color: #393939;
	background-image: none;
	background-color: #fff;
	box-shadow: none;
}

/* media queries navbar */
@media (min-width: 768px) {
	.navbar .navbar-nav  {
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-nav li {
		display: inline-block;
		float: none;
	}
}

/*Navbar collapsed*/
@media (max-width: 768px){
	.navbar-default .nav>li>a:hover,.navbar-default  .nav>li>a:focus,.navbar-default  .nav>li.active>a
	{
		background-color: #ddd;
	}


}


/*//////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////*/
.section
{
	padding:40px;
	padding-top: 60px;
	min-height: 600px;
}


.section p:first-child
{
	
	/*margin-top: 60px;*/
}

.section .section-titre
{
	margin-bottom: 40px;
}

#apropos
{
	background-color: #fff;
}

#myface
{
	height: 200px;
	max-width: auto;
	margin-top: 100px;
	border-radius: 5px;

}

#parcours, #competences
{
	background-color: #eee;
}

.col-frise,.col-comp,.col-projet,.col-int, .col-cv
{
	text-align: center;
}

.frise-item, .comp-item, .projet-item
{
	position: relative;
	border-radius: 50%;
	/*width: 180px;*/
	height: 180px;
	line-height: 180px;
	font-weight: bold;
	background-color: #f5f5f5;
	color: #5ba5af;
	z-index: 1;

	text-align: center;
}


.frise
{
	margin-top: 50px;
}

.col-frise, .col-comp
{
	margin-bottom: 40px;
}

.frise-item-content,.comp-item-content
{
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
}

.frise-item-lieu
{
	font-family: "Segoe UI",Verdana;
	color: #eee;
	display: block;
	color: #4e4d4d;
}

#competences
{
	border-top: 5px dashed #5ba5af;
}

.comp-item, .projet-item,#cv
{
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

#cv
{
	height: 50px;
	padding: 15px;
	font-weight: bold;
	background-color: #f5f5f5;
	background-image: none;
	color: #5ba5af;
	border: none;
	font-size: 1em;
}

#cv:hover
{
	background-color: #227580;
	color: #fff;
}

#projets,#interets
{
	background-color: #5ba5af;
}

.row-projets, .row-interets
{
	margin-top: 80px;
}



.projet-item-content
{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}


#interets
{
	border-top: 5px dashed #fff;
	padding-bottom: 300px;
}

#interets .interet-item
{
	background-color: #fff;
	margin-bottom: 50px;
	border-radius: 3px;
	padding: 15px 10px;
	font-weight: bold;
	color: #227580;
}

/* media queries des sections */

@media (min-width: 768px){
	.frise:after{
		content: "";
		display: block;
		width: 100%;
		background: transparent url(../img/tiret.gif) repeat-x top left;
		height: 1px;
		position: absolute;
		top:11.5em;
		z-index: 0;
	}

	.projet-item{
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease;
		transition: all .2s ease-in-out;

		border: 8px dashed #5ba5af;
	}


	.projet-item:hover{
		border-width:0px;
	}

	#contact-link {
		display: none;
	}

	@-moz-document url-prefix() {
		#contact-link {
			display: block;
		}
	}
}


@media (max-width: 768px){
	
	/*Vraiment falloir que je passe ce code en sass*/
	.frise-item
	{
		border:1px solid;
		position: relative;
		margin: auto;
	}

	.col-frise
	{
		float: none;
	}

	.col-frise:nth-child(1) .frise-item
	{
		z-index: 1;
		top: 375px;
	}
	.col-frise:nth-child(2) .frise-item
	{
		z-index: 2;
		top:30px;

	}
	.col-frise:nth-child(3) .frise-item
	{
		z-index: 3;
		top:-305px;

	}
	.col-frise:nth-child(4) .frise-item
	{
		z-index: 4;
		top:-650px;

	}

	#parcours p.text-parcours
	{
		margin-top: -300px;
	}

	.col-comp
	{
		text-align: center;
	}
	.comp-item, .projet-item
	{
		height: auto;
		padding: 20px;
		margin: 2px;
		line-height: normal;
	}

}

#seperator,#contact
{
	height: 360px;
}

#seperator {
	display: block;
	float: left;
}

#contact
{
	background-color: #000;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -5;
	width: 100%;
}

#contact .col-contact
{
	text-align: center;
	width: 300px;
	height: 200px;
	margin: auto;
}

#contact .img-contact, #contact .contact-item 
{
	width: 200px;
	height: 200px;
}

#contact .contact-item
{

	background: url("../img/mail-white.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-origin: border-box;
	
	border:100px dashed rgba(0, 0, 0, 0.7);

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;

}

#contact .contact-item:hover
{
	border: 1px dashed rgba(0,0,0,7);
}

#contact a
{
	color: #959595;
}


.contact-item
{
	margin: auto;
}


footer .credit
{
	position: absolute;
	/*bottom: -100px;*/
	bottom: 10px;
	right: 10px;
	color: #959595;
	margin:0;
}